### Merge two dataframes

Please merge them based on columns "key1"

In [1]:
import pandas as pd

In [2]:

data1 = pd.DataFrame({'key1': ['K0', 'K5', 'K1', 'K2'],
                    
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K4', 'K2'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

In [3]:
print(
    len(data1),
    len(data2)
)

4 4

In [4]:
data1.head()

  key1   P   Q
0   K0  P0  Q0
1   K5  P1  Q1
2   K1  P2  Q2
3   K2  P3  Q3

In [5]:
pd.merge(
    data1, 
    data2,
    on = "key1",
    how = "left"
)

  key1   P   Q    R    S
0   K0  P0  Q0   R0   S0
1   K5  P1  Q1  NaN  NaN
2   K1  P2  Q2   R1   S1
3   K2  P3  Q3   R3   S3