### Checking your data quality

This notebook looks at various tests that we can run to check the quality of your data. Below are some of the things we will look into:

- Accuracy: How well does a piece of information reflect reality?
- Completeness: Does it fulfill usersâ€™ expectations as to how fully it represents the truth?
- Timeliness: Is your information available when users need it?
- Validity: Is information in a specific format or is it in an unusable format?
- Uniqueness: Is this the only instance in which this information appears in the database?

Load the data

##### Accuracy

We will check on some of the values in the `city` column using the `value_counts()` function and by sorting the list alphabetically.

#### Completeness

Oftentimes you want to see how many `null values` there are.

In [ ]:
## this line of code will print the rows where the value for "UNIQUEID" is a null value.

In [ ]:
## this line of code will print the rows where the value for "OCCUPATION" is a null value.

#### Timeliness

Here we will first format the date column to be interpreted as a `datetime` and then we will find some characteristics of that column by using the `.describe()` function.

##### Validity
In this next cell we look at the validity of the data in the zip code column

In [ ]:
#this line will create a column that measures the length of the value in the zipcode column

##### Uniqueness

We will use the `duplicated()` function to see which rows are duplicates'.

In [ ]:
#the line below should show the two rows that are duplicates and follow the