## This notebook runs through a few simple python things
- Data structures (in-depth)
    -  lists
    -  dictionaries
    -  lists of dictionaries
- Loops
- Conditionals

# Data structures in more depth

You may encounter data in various formats in your research or create data in various formats.

#### Lists
Lists are denoted by an opening and closing bracket and can contain multiple values, for example `["R2D2", "Yoda", "Han Solo"]`

In [1]:
names = ["R2D2", "Yoda", "Han Solo"]

#### Dictionary

A Python Dictionary is another common and powerful datatype.

Think of it as a collection of data points about a single element.

For example, a spaceship model:
- show: Futurama
- type: spaceship
- name: Planet Express Ship
- cost: 40000
- on_sale: True

A dictionary would hold this data as **key: value** pairs and is usually wrapped in ```{}```.

Each key: value pair is separated by a comma.
The format is 
```
{
"key1_string": "string_value",
"key2_number": 12,
"key3_bolean": True
}
```

In [2]:
ufo1 = {
    "show": "Futurama",
    "type": "spaceship",
    "name": "Planet Express Ship",
    "cost": 40000,
    "on_sale": True
}

In [3]:
## call car_1
ufo1

{'show': 'Futurama',
 'type': 'spaceship',
 'name': 'Planet Express Ship',
 'cost': 40000,
 'on_sale': True}

In [4]:
## what car_1's datatype
type(ufo1)

dict

Let's build a dictionary called car_2 with the following data points.

Note: In this case the type is first. The order in a dictionary doesn't matter.

- type: spaceship
- show: Star Trek
- name: USS Enterprise
- cost: 35_000
- on sale: no

In [5]:
## build car_2
ufo2= {
    "type": "spaceship",
    "show": "Star Trek",
    "name": "USS Enterprise",
    "trim": "Cloth",
    "cost": 35_000,
    "on_sale": False
}

In [6]:
ufo2

{'type': 'spaceship',
 'show': 'Star Trek',
 'name': 'USS Enterprise',
 'trim': 'Cloth',
 'cost': 35000,
 'on_sale': False}

#### List of dictionaries 

We can now create a list with these two dictionaries

In [7]:
spaceships = [ufo1, ufo2]

In [8]:
spaceships

[{'show': 'Futurama',
  'type': 'spaceship',
  'name': 'Planet Express Ship',
  'cost': 40000,
  'on_sale': True},
 {'type': 'spaceship',
  'show': 'Star Trek',
  'name': 'USS Enterprise',
  'trim': 'Cloth',
  'cost': 35000,
  'on_sale': False}]

#### Working with data structures loops

In [9]:
names  = ["Lam", "Miguel"]
for name in names:
    print(name)

Lam
Miguel

Looping through a list of dictionaries:

In [10]:
for ufo in spaceships:
    print( ufo)

{'show': 'Futurama', 'type': 'spaceship', 'name': 'Planet Express Ship', 'cost': 40000, 'on_sale': True}
{'type': 'spaceship', 'show': 'Star Trek', 'name': 'USS Enterprise', 'trim': 'Cloth', 'cost': 35000, 'on_sale': False}

In [11]:
for ufo in spaceships:
    print(ufo["name"])

Planet Express Ship
USS Enterprise

## Conditionals and data structures

First a quick refresher on conditionals:

In [12]:
alien = "jabba the hutt"

In [13]:
if alien == "yoda" :
    print("May the force be with you!")
else:
    print("It's a trap")

It's a trap

#### Tenary Expression
```variable = value1 if some_condition else value2```

There are a number of operators you can use with conditionals

| Operators | What It Does                                                                                                          | Example                        |
|-----------|-----------------------------------------------------------------------------------------------------------------------|--------------------------------|
| ==        | If the values to the left and right of the operator are equal, then the condition is true.                            | ("pie" == "cake") is not true. |
| !=        | If the values to the left and right of the operator are not equal, then condition is true.                            | ("pie" != "cake") is true.     |
| >         | If the value of left operator is bigger than the value to the right, then condition is true.                          | (4 > 10) is not true.          |
| <         | If the value of left operator is smaller than the value to the right, then condition is true.                         | (4 < 10) is true.              |
| >=        | If the values to the left of the operator is greater than or equal to the value to the right, then condition is true. | (4 >= 10) is not true.         |
| <=        | If the values to the left of the operator is less than or equal to the value to the right, then condition is true.    | (4 <= 10) is true.             |

In [14]:
## Use the same data in the previous conditional and print out the same results using a tenary expression.ake = "positive" if numbers[-2] > 0 else "negative"
spaceship_status = "too expensive" if ufo1["cost"] > 36000 else "within my budget"

print(f"The {ufo1['type']} is {spaceship_status}.")

The spaceship is too expensive.

## Combining loops and if clauses
You can loop through lists and use if/else

In [15]:
for ufo in spaceships:
    spaceship_status = "too expensive" if ufo["cost"] <= 36000 else "within my budget"
    print(f"The {ufo1['type']} is {spaceship_status}.")

The spaceship is within my budget.
The spaceship is too expensive.