## This notebook runs through a few simple python things
- Data structures (in-depth)
    -  lists
    -  dictionaries
    -  lists of dictionaries
- Loops
- Conditionals

# Data structures in more depth

You may encounter data in various formats in your research or create data in various formats.

#### Lists
Lists are denoted by an opening and closing bracket and can contain multiple values, for example `["R2D2", "Yoda", "Han Solo"]`

In [2]:
names = ["R2D2", "Yoda", "Han Solo"]

#### Dictionary

A Python Dictionary is another common and powerful datatype.

Think of it as a collection of data points about a single element.

For example, a car model:
- Brand: Honda
- Type: SUV
- Model: CRV
- Trim: Leather
- cost: 40000
- on_sale: True
- VIN: 2973

A dictionary would hold this data as **key: value** pairs and is usually wrapped in ```{}```.

Each key: value pair is separated by a comma.
The format is 
```
{
"key1_string": "string_value",
"key2_number": 12,
"key3_bolean": True
}
```

In [3]:
car1 = {
    "brand": "Honda",
    "type": "SUV",
    "trim": "Leather",
    "cost": 40000,
    "on_sale": True,
    "VIN": 2973
}

In [4]:
## call car_1
car1

{'brand': 'Honda',
 'type': 'SUV',
 'trim': 'Leather',
 'cost': 40000,
 'on_sale': True,
 'VIN': 2973}

In [5]:
## what car_1's datatype
type(car1)

dict

Let's build a dictionary called car_2 with the following data points.

Note: In this case the vin is first. The order in a dictionary doesn't matter.

- vin: 8303
- Brand: Honda
- Type: Sedan
- Model: CRV
- Trim: Cloth
- cost: 35_000
- on sale: no

In [6]:
## build car_2
car2= {
    "VIN": 8303,
    "brand": "Honda",
    "type": "Sedan",
    "model": "CRV",
    "trim": "Cloth",
    "cost": 35_000,
    "on_sale": False
}

#### List of dictionaries 

We can now create a list with these two dictionaries

In [7]:
cars = [car1, car2]

In [8]:
cars

[{'brand': 'Honda',
  'type': 'SUV',
  'trim': 'Leather',
  'cost': 40000,
  'on_sale': True,
  'VIN': 2973},
 {'VIN': 8303,
  'brand': 'Honda',
  'type': 'Sedan',
  'model': 'CRV',
  'trim': 'Cloth',
  'cost': 35000,
  'on_sale': False}]

In [1]:
4 + 4

8

In [2]:
433 * 891

385803

#### Working with Strings
Strings are characters (everything from letters, numbers, characters and spaces) between inverted commas or quotation marks

In [3]:
"I'm a string"

"I'm a string"

You can concatenate strings by using the plus sign!

In [4]:
"I'm" + " a string"

"I'm a string"

Someone tell me what happens when you do this:

In [5]:
"4" + "4"

'44'

In [6]:
name = "Lam"

In [7]:
print(name)

Lam

And whatâ€™s great is that we can change what we store in it. Try this and let me know what happens:

In [8]:
name = "Miguel"

In [9]:
print(name)

Miguel

#### Storing Multiple Values in Lists
Alright, now you know how to store one data point in a variable, but who just wants one data point?! This is where lists can come in handy! A list is denoted through brackets and can contain various kinds of data points:

In [10]:
names  = ["Lam", "Miguel"]

In [11]:
names.append("R2D2")

In [12]:
print(names)

['Lam', 'Miguel', 'R2D2']

When you have a list, each item has a position which you can access through what is called its index:

In [13]:
print(names[0])

Lam

What happens if you do `print(names[3])`?

## Loops
`For loops` are a way for programmers to iterate through a list of items and apply the same process to each item:

In [18]:
for name in names:
    # Instructions go here
    print("Instructions go here!")

Instructions go here!
Instructions go here!
Instructions go here!

In [19]:
names  = ["Lam", "Miguel"]
for name in names:
    print(name)

Lam
Miguel

Looping through a list of dictionaries:

In [12]:
for car in cars:
    print(car["brand"], car)

Honda {'brand': 'Honda', 'type': 'SUV', 'trim': 'Leather', 'cost': 40000, 'on_sale': True, 'VIN': 2973}
Honda {'VIN': 8303, 'brand': 'Honda', 'type': 'Sedan', 'model': 'CRV', 'trim': 'Cloth', 'cost': 35000, 'on_sale': False}

In [13]:
for car in cars:
    print(car["type"])

SUV
Sedan

Fun fact! `Lists` and `dictionaries` work well with pandas!

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(cars)
df.head()

   brand   type     trim   cost  on_sale   VIN model
0  Honda    SUV  Leather  40000     True  2973   NaN
1  Honda  Sedan    Cloth  35000    False  8303   CRV

In [16]:
df2 = pd.DataFrame(names)
df2.head()

          0
0      R2D2
1      Yoda
2  Han Solo

## Conditionals

Sometimes you will encounter tricky situations in your data gathering and analysis endeavors and it helps to know that you can instruct your python script to take different paths depending on what condition may be met. Meet the `if` clause:

In [20]:
alien = "jabba the hutt"

In [21]:
if alien == "yoda" :
    print("May the force be with you!")
else:
    print("It's a trap")

It's a trap

#### Tenary Expression
```variable = value1 if some_condition else value2```

There are a number of operators you can use with conditionals

| Operators | What It Does                                                                                                          | Example                        |
|-----------|-----------------------------------------------------------------------------------------------------------------------|--------------------------------|
| ==        | If the values to the left and right of the operator are equal, then the condition is true.                            | ("pie" == "cake") is not true. |
| !=        | If the values to the left and right of the operator are not equal, then condition is true.                            | ("pie" != "cake") is true.     |
| >         | If the value of left operator is bigger than the value to the right, then condition is true.                          | (4 > 10) is not true.          |
| <         | If the value of left operator is smaller than the value to the right, then condition is true.                         | (4 < 10) is true.              |
| >=        | If the values to the left of the operator is greater than or equal to the value to the right, then condition is true. | (4 >= 10) is not true.         |
| <=        | If the values to the left of the operator is less than or equal to the value to the right, then condition is true.    | (4 <= 10) is true.             |

## Combining loops and if clauses
You can loop through lists and use if/else