# Week 2 - Iterating through data

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [1]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [2]:
##call the temporary variable
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [3]:
## name dog lucy
my_dog = "lucy"
my_dog

'lucy'

In [4]:
## upper case the previous variable 
## you can target an individual item
my_dog.upper()

'LUCY'

In [5]:
## upper case and print each animal in our list
## this will break
fav_animals.upper()

AttributeError: 'list' object has no attribute 'upper'

In [7]:
fav_animals[0].upper()

'CATS'

In [12]:
## use a for loop to upper case each animal and print it

for fav_animal in fav_animals:
    print(fav_animal.upper())

CATS
DOGS
BIRDS
SNAKES
HORSES

In [13]:
fav_animal

'horses'

In [14]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [20]:
## We save our iterated data by adding to an empty list
upper_animals = [] ## initializing an empty list

for fav_animal in fav_animals:
    upper_animals.append(fav_animal.upper())
    print(upper_animals)
    print("***********")
    
print("Done")

['CATS']
***********
['CATS', 'DOGS']
***********
['CATS', 'DOGS', 'BIRDS']
***********
['CATS', 'DOGS', 'BIRDS', 'SNAKES']
***********
['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']
***********
Done

In [17]:
upper_animals

['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

Let's take **For Loops** for test drive:

In [21]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [22]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for salary in ceo_salaries_1985:
    print(f"A CEO earned ${salary:,} in 1985!")

A CEO earned $150,000 in 1985!
A CEO earned $201,000 in 1985!
A CEO earned $110,000 in 1985!
A CEO earned $75,000 in 1985!
A CEO earned $92,000 in 1985!
A CEO earned $55,000 in 1985!

In [27]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

cpi_2019 = 255.657
cpi_1985 = 107.6

for salary in ceo_salaries_1985:
#     new_salary = (salary/cpi_1985) * cpi_2019
    print(f"A ceo's salary of ${salary:,} in 1985 is worth ${(salary/cpi_1985) * cpi_2019:,.0F} in 2019")

A ceo's salary of $150,000 in 1985 is worth $356,399 in 2019
A ceo's salary of $201,000 in 1985 is worth $477,575 in 2019
A ceo's salary of $110,000 in 1985 is worth $261,359 in 2019
A ceo's salary of $75,000 in 1985 is worth $178,200 in 2019
A ceo's salary of $92,000 in 1985 is worth $218,591 in 2019
A ceo's salary of $55,000 in 1985 is worth $130,680 in 2019

In [29]:
## store the updated values
salaries_2019 = []
for salary in ceo_salaries_1985:
    salaries_2019.append((salary/cpi_1985) * cpi_2019)

In [30]:
## call updated ceo salaries
salaries_2019

[356399.16356877325,
 477574.8791821562,
 261359.3866171004,
 178199.58178438662,
 218591.4869888476,
 130679.6933085502]

In [31]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 2. Conditional Statements

In [36]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers

import random
numbers = random.sample(range(-100, 101), 10)
numbers

[3, 1, 38, -34, 8, 83, 57, 87, 76, 93]

Create conditional statements that tell us if the last number and the penultimate number are positive or negative.
Print a sentence that reads:
```
"The last number [what is it?] is [positive or negative] while 
 the penultimate number [what is it?] is [negative or positive]."
```

In [35]:
## code it here
## if else statements


if numbers[-2] > 0:
    pen_status = "positive"
else:
    pen_status = "negative"
if numbers[-1] > 0:
    last_status = "positive"
else:
    last_status = "negative"

print(f"The last number {numbers[-1]} is {last_status} while \
the penultimate number {numbers[-2]} is {pen_status}.")

The last number -79 is negative while the penultimate number 84 is positive.

## 3. Tenary Expression
```variable = value1 if some_condition else value2```

In [37]:
## Use the same data in the previous conditional and print out the same results using a tenary expression.
pen_status = "positive" if numbers[-2] > 0 else "negative"
last_status = "positive" if numbers[-1] > 0 else "negative"

print(f"The last number {numbers[-1]} is {last_status} while \
the penultimate number {numbers[-2]} is {pen_status}.")

The last number 93 is positive while the penultimate number 76 is positive.

## the zen of python

In [38]:

import this

## Modulo Operator

The ```%``` is also known as the ```modulo operator``` in Python.

The expression ```10 % 2``` means if you devide 10 by 2, what is the remainder?

In [39]:
### try it
10 % 2

0

In [41]:
## try 13 divided by 2
27 % 2

1

In [42]:
## assign x the value 2
x = 2
x

2

In [45]:
## check for equality of 2
x == 2

True

In [46]:
## check for equality of 3

x == 3

False

In [48]:
sentence = "This August and September have been really hot!"
sentence

'This August and September have been really hot!'

In [49]:
"hot" in sentence

True

In [50]:
"October" in sentence

False

In [51]:
"september" in sentence

False

## 4. List Comprehension

In [53]:
## run this list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
## use a FOR LOOP (FL) to create a list that holds the numbers times 10
x10 = []

for number in numbers:
    x10.append(number * 10)

x10

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [55]:
## use list comprehension (LC) to create a list that holds the numbers times 10
## use list comprehension (LC) to create a list that holds the numbers times 10

y10 = [number * 10 for number in numbers]
y10

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [56]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
## use a for loop to hold on to numbers x 3 and hold only the even numbers in a few list

even_numbers = []
## iterate through list
for number in numbers:
    temp_number = number * 3 ## multiply each item by 3
    if temp_number % 2 == 0: ## check if item times 3 is even
        even_numbers.append(temp_number) ## hold onto only the evens in a new list

even_numbers

[0, 6, 12, 18, 24, 30]

In [59]:
## use a for loop to hold on to numbers x 3 and hold only the odd numbers in a few list

odd_numbers = []
## iterate through list
for number in numbers:
    temp_number = number * 3 ## multiply each item by 3
    if temp_number % 2 != 0: ## check if item times 3 is odd
        odd_numbers.append(temp_number) ## hold onto only the odd in a new list

odd_numbers

[3, 9, 15, 21, 27]

In [62]:
## use LC to create a list that holds only the even numbers 
even_lc = [number * 3 for number in numbers if (number * 3) % 2 == 0]
even_lc

[0, 6, 12, 18, 24, 30]

In [63]:
## use LC to create a list that holds only the odd numbers 
odd_lc = [number * 3 for number in numbers if (number * 3) % 2 != 0]
odd_lc

[3, 9, 15, 21, 27]

## 5. For Loops through multiple but related lists

When we scrape data from a website, we pull down various data points (income, name, location, id code, etc.) and store each into its own separate list.

A final step is to always group data points from each observation together. For example:

- "Sandeep Junnarkar"
- "Professor"
- "Male"
- "CUNY"

### Two ways to ```zip()``` these lists together

But first let's explore the zip function:

In [65]:
##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [66]:
## with zip
## also print what each type of data is.

for (first_name, last_name, title, company, industry) in\
zip(first_names, last_names, titles, companies, industries):
    print(f"{first_name} {last_name}: {title}, {company}, {industry}")

Irene Rosenfeld: Chairman and CEO, Kraft Foods, Food and Beverage
Ursula Burns: Chairman and CEO, Xerox, Process and Document Management
Elon Musk: CEO, Tesla, Auto Manufacturing
Tim Cook: CEO, Apple, Consumer Technology

### Method 1 – Zip lists into dictionaries

In [69]:
## declare empty list and for loop zip
method_1 = []
for (first_name, last_name, title, company, industry) in\
zip(first_names, last_names, titles, companies, industries):
    method_1.append({
        "first_name": first_name,
        "last_name": last_name,
        "title": title,
        "company": company,
        "industry": industry
    })

In [70]:
## call the method_1 list
method_1

[{'first_name': 'Irene',
  'last_name': 'Rosenfeld',
  'title': 'Chairman and CEO',
  'company': 'Kraft Foods',
  'industry': 'Food and Beverage'},
 {'first_name': 'Ursula',
  'last_name': 'Burns',
  'title': 'Chairman and CEO',
  'company': 'Xerox',
  'industry': 'Process and Document Management'},
 {'first_name': 'Elon',
  'last_name': 'Musk',
  'title': 'CEO',
  'company': 'Tesla',
  'industry': 'Auto Manufacturing'},
 {'first_name': 'Tim',
  'last_name': 'Cook',
  'title': 'CEO',
  'company': 'Apple',
  'industry': 'Consumer Technology'}]

## List of Dictionaries to Dataframes

Recall that a list of dictionaries are like columns and rows in a csv

In [71]:
## import pandas

import pandas as pd

In [72]:
## Turn list into a dataframe
df = pd.DataFrame(method_1)
df

,first_name,last_name,title,company,industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

In [73]:
## export as csv

df.to_csv("method_1.csv", encoding = "UTF-8", index = False)

### One more datatype: ```tuple```:

- Create a ```tuple``` by using parentheses.
- It's just like a list but can not be changed once it is assigned a value(s).
- You can call items in a ```tuple``` using slicing.

In [74]:
## create a tuple
grades = (95, 25, 30)

In [75]:
## call the tuple
grades

(95, 25, 30)

In [79]:
100, 100

(100, 100)

In [80]:
## confirm data type

type(grades)

tuple

In [81]:
## call the first item in our tuple
grades[0]

95

In [82]:
## append a grade of 100 to the grades tuple
## this will break
grades.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
## only way to add to a tuple is to create a new tuple
## append a grade of 100 to the grades tuple

updated_grades = grades + (100,)
updated_grades

(95, 25, 30, 100)

I don't use ```tuples``` too often except in one situation – they provide a shortcut to turning items in a list into a dataframe.

## Method 2 – Zip into tuple

In [84]:
## recall we named each item in the for
for (first_name, last_name, title, company, industry) in\
zip(first_names, last_names, titles, companies, industries):
    print(f"{first_name} {last_name}: {title}, {company}, {industry}")

Irene Rosenfeld: Chairman and CEO, Kraft Foods, Food and Beverage
Ursula Burns: Chairman and CEO, Xerox, Process and Document Management
Elon Musk: CEO, Tesla, Auto Manufacturing
Tim Cook: CEO, Apple, Consumer Technology

In [85]:
## zip it and print
for item in zip(first_names, last_names, titles, companies, industries):
    print(item)

('Irene', 'Rosenfeld', 'Chairman and CEO', 'Kraft Foods', 'Food and Beverage')
('Ursula', 'Burns', 'Chairman and CEO', 'Xerox', 'Process and Document Management')
('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing')
('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')

In [86]:
## we need to store into a list called method_2
method_2 = []
for item in zip(first_names, last_names, titles, companies, industries):
    method_2.append(item)

In [87]:
## call method 2
method_2

[('Irene',
  'Rosenfeld',
  'Chairman and CEO',
  'Kraft Foods',
  'Food and Beverage'),
 ('Ursula',
  'Burns',
  'Chairman and CEO',
  'Xerox',
  'Process and Document Management'),
 ('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing'),
 ('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')]

In [89]:
## what type of data set does this list hold?
type(method_2[0])

tuple

In [92]:
## export to a pandas dataframe
## export to a pandas dataframe

df = pd.DataFrame(method_2)
df.columns = ["first_name", "last_name", "title","company", "industry"]
df

,first_name,last_name,title,company,industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

In [ ]:
## export to a csv
## export to a csv